/legacy/java/mvnw text eol=lf
/legacy/java/** linguist-detectable=false
.gitattributes text eol=lf
*.cmd text eol=crlf
*.java text eol=lf
*.properties text eol=lf
*.md text eol=lf
*.html text eol=lf
*.js text eol=lf
